body {
    font-family: Arial;
    background-color: rgb(5, 4, 4);
}

.calculation {
    color: rgb(228, 248, 54);
    font-size: 45px;
    margin-top: 15px;
    margin-bottom: 5px;
}

.calculator-button {
    height: 60px;
    width: 60px;
    border-radius: 60px;
    border: none;
    font-size: 26px;
    cursor: pointer;
    margin-right: 5px;
}

.gray-button {
    background-color: rgb(1, 58, 1);
    color: white;
}

.orange-button {
    background-color: rgb(255, 161, 9);
    color: rgb(13, 44, 1);
}

.clear-button {
    background-color: brown;
    font-size: 17px;
    margin-left: 65px;
}